body:has(.embedPlayer.fullscreen) {
    max-height: 100vh;
    padding: 0;
    overflow: hidden;
}

.embedPlayer {
    width: 50%;
    // for 1920/1080 ratio, we use a 1080/1920 = 25.92% 46.08% padding to take up ALMOST the entire width of the screen
    // More specifically 46.08*2=92.16% of the screen width
    padding: 25.92% 46.08%;
    box-sizing: border-box;

    .deckContainer {
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    &.fullscreen .deckContainer {
        z-index: 11;
    }

    .actions {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 5;
    }

    &.fullscreen .actions {
        z-index: 12;
    }
}

@media only screen and (max-width: 890px) {
    .embedPlayer {
        // More mobile view, we take up full 50*2=100% of the width
        padding: 28.125% 50%;
    }
}