.flexbox {
    display: flex;
    width: 100%;
}

.headers {
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.noResults {
    padding: 30px 0;
    
    grid-column: 1/-1;
    display: flex;
    gap: 10px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    svg {
        font-size: 70px;
        opacity: 0.5;
    }

    h2, p {
        margin: 0;
    }


}