.explorersLogo {
    width: 100%;
    height: 100px;
    position: relative;

    img {
        object-fit: contain;
        object-position: left;
    }
}

.tinkerLogo {
    height: 48px;
}

.appleBadges {
    position: relative;
    height: 64px;

    img {
        // margin: ;
        object-fit: contain;
        object-position: left;
    }
}

@media only screen and (max-width: 890px) {
    .explorersLogo {
        width: 90%;
    }

    .logo {
        height: 20px;
    }
}