.searchBar {
    margin-left: auto;
    display: flex;
    align-items: center;

    div {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        transition: opacity 250ms;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    form input {
        position: absolute;

        padding: 0px 10px;
        margin: 0px;
        border: 0px;
        border-radius: 10px;
        outline: none;

        left: 64px;
        right: 134px; // 64+70=134px
        top: 177px;
        z-index: 3;
        transition: height 250ms;
    }
}

@media only screen and (max-width: 890px) {
    .searchBar {
        form input {
            left: 16px;
            right: 86px; // 16+70=86px
            top: 130px
        }
    }
}