.headers {
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 40px;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        margin: 0;
    }
}

.copyright {
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: fixed;
    z-index: 8;
    pointer-events: none;

    small {
        padding: 32px;
    }
}