.footer {
    margin-top: 50px;

    p {
        opacity: 0.8;
    }
}

.tinkerLogo {
    height: 48px;
}

.appleBadges {
    position: relative;
    height: 64px;

    img {
        // margin: ;
        object-fit: contain;
        object-position: left;
    }
}