:root {
    --r-background-color: #111;
    --r-main-font: Open Sans, sans-serif;
    --r-main-font-size: 32px;
    --r-main-color: #eee;
    --r-block-margin: 20px;
    --r-heading-margin: 0 0 20px 0;
    --r-heading-font: Montserrat, Open Sans, Impact, sans-serif;
    --r-heading-color: #eee;
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: -0.03em;
    --r-heading-text-transform: none;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: bold;
    --r-heading1-text-shadow: none;
    --r-heading1-size: 4.50em;
    --r-heading2-size: 3em;
    --r-heading3-size: 2em;
    --r-heading4-size: 1em;
    --r-code-font: monospace;
    --r-link-color: #00d9fa;
    --r-link-color-dark: #00d9fa;
    --r-link-color-hover: #10c4e0;
    --r-hover-shadow-color: #00d9fa42;
    --r-selection-background-color: #1e707d;
    --r-selection-color: #fff;
    --r-gradient: linear-gradient(45deg, #00d9fa 10%, #126eac 20%);
}