@media print {
    .reveal .slides {
        font-size: 12px;
        background-color: white;
        color: black;
    }
    .reveal .controls,
    .reveal .progress {
        display: none !important;
    }

    /* Ensure all text is black and background is white */
    body, .reveal .slides section, .reveal .slides {
        background-color: white !important;
        color: black !important;
    }

    /* Style headings */
    h1, h2, h3, h4, h5, h6 {
        color: black !important;
    }

    .reveal .slides em,
    .reveal .slides section em,
    em {
        color: black !important;
        display: inline !important;
        visibility: visible !important;
        opacity: 1.0 !important;
        background-color: white !important;
    }
    
    /* Ensure all elements have a white background */
    * {
        background-color: white !important;
        color: black !important;
    }

}

