.footer {
    margin-top: 30px;

    p {
        opacity: 0.8;
    }
}

.logos {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}

@media print {
    .footer {
        display: none;
    }
}