.icons {
    position: absolute;
    right: 15px;
    top: 15px;
    
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;

    div {
        padding: 15px;

        font-size: 20px;
        z-index: 5;

        opacity: 0.8;
        scale: 1;
        transition: all 250ms;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
            scale: 1.1;
        }

        &:active {
            opacity: 1;
            scale: 1;
        }
    }
}